body {
    margin: 0;
    padding: 0;
    background-color: #040407;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

.particleCanvas {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* filter: drop-shadow(0px 0px 50px #fff) drop-shadow(0px 0px 20px #fff); */
    opacity: 1; /* Set initial opacity */
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.toggle-canvas-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-b);
    background-color: rgba(255, 255, 255, 0.07); /* Light grey with transparency */
    color: #ffffffaa; /* White text */
    font-weight: bold;
    padding: 8px 12px; /* Smaller padding */
    border: none;
    border-radius: 20px; /* Capsule shape */
    cursor: pointer;
    z-index: 100;
    pointer-events: all;
    backdrop-filter: blur(8px); /* Blurred background */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    transition: background-color 0.3s ease;
}

.toggle-canvas-button:hover {
    background-color: rgba(255, 255, 255, 0.16);
    color: #ffffff;
}
  

/* SECTION 1 */
.section-1 {
    height: 100vh;
    padding: 0;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.particle-buttons {
    transform: translateY(-50%);
    top: 50%;
    opacity: 0;
    font-size: var(--text-size-b);
    animation: fadeIn 2s ease-in forwards;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 50px;
    align-items: flex-end;
    justify-content: center;
    gap: 0.4rem;
}


.button-icon {
    padding-right: 0.5rem;
}

.section-1-texts-box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    margin-left: 50px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;
}

.section-1-titles-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.section-1-title-top {
    font-size: 5rem;
    padding: 0;
    margin: 0;
    color: #fffcf7;
    margin-bottom: 5px;
}

.section-1-title-middle {
    font-size: var(--text-size-title);
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 1em;
    max-height: 2em;
    padding-bottom: 10px;
    align-self: flex-start;
}

.section-1-title-bottom {
    font-size: var(--home-subtitle);
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: #fff;
    margin-top: 0.2rem;
    align-self: flex-start;
}

.section-1-next-subtitle {
    font-size: var(--home-subtitle);
    padding: 0;
    margin: 0;
    color: #fafaff;
    margin-top: 2rem;
    align-self: flex-start;
    padding-bottom: 40px;
}


/* Overlay styling with backdrop blur */
.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.04); /* Light color with low opacity */
    backdrop-filter: blur(1rem); /* Blur effect */
    -webkit-backdrop-filter: blur(1rem); /* For Safari support */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

/* Button styling */
.nav-button {
    color: white;
    background-color: transparent; /* Start as transparent */
    border: none;
    font-size: var(--text-size-overlay);
    cursor: pointer;
    padding: 8px 20px; /* Adjust padding for capsule shape */
    border-radius: 50px; /* Capsule shape */
    opacity: 0.7;
    font-weight: bold;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    display: flex;
    align-items: center; /* Center image and text vertically */
    gap: 8px; /* Space between image and text */
}

.nav-button.active {
    box-shadow: inset 0 5px 10px #00000077; /* Optional shadow for depth */
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    /* font-weight: bold; */
}

.button-icon {
    height: var(--text-size-tile-p);
    width: auto;
    margin-right: 0px;
}

.nav-button.active .nbutton-1 {
    filter: sepia(100%) saturate(1000%) hue-rotate(230deg) saturate(500%);
}

.nav-button.active .nbutton-2 {
    filter: sepia(100%) saturate(1000%) invert() hue-rotate(340deg) saturate(60%) brightness(1000%);
}

.nav-button.active .nbutton-3 {
    filter: sepia(100%) saturate(1000%) invert() hue-rotate(349deg) saturate(50%) brightness(1100%);
}